[user]
	name = Richard Jonas
	email = richard.jonas.76@gmail.com

[push]
	default = simple

[filter "lfs"]
	smudge = git-lfs smudge %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean %f

[color]
    ui = true

[log]
    decorate

[grep]
    lineNumber

[pull]
    rebase = true

[alias]
    s       = status
    co      = checkout
    ci      = commit
    a       = add
    g       = grep
    d       = diff
    b       = branch
    ps      = push
    pl      = pull
    f       = fetch
    lo      = log --oneline --graph
    msync   = fetch origin master:master
    dsync   = fetch origin develop:develop
    report  = log --pretty=format:'[%h] %ad %aN %s' --date=short

[credential]
    helper = osxkeychain

[core]
	editor = nvim
	excludesfile = /Users/richard/.gitignore
