[alias]
    a       = add
    b       = branch
    ci      = commit
    co      = checkout
    d       = diff
    dn      = ! git diff | diffnav
    dsync   = fetch origin develop:develop
    f       = fetch -p
    g       = grep
    lo      = log --oneline --graph
    msync   = fetch origin master:master
    pl      = pull
    ps      = push
    report  = log --pretty=format:'[%h] %ad %aN %s' --date=short
    s       = status

[color]
    ui      = true

[core]
    editor  = nvim
    pager   = delta
#pager = "less -X -F"

[credential]
    helper  = osxkeychain

[delta]
    dark            = true
    line-numbers    = true
    navigate        = true
    side-by-side    = true

[filter "lfs"]
    clean       = git-lfs clean -- %f
    smudge      = git-lfs smudge -- %f
    process     = git-lfs filter-process
    required    = true

[grep]
    lineNumber

[interactive]
    diffFilter  = delta --color-only

[log]
    decorate
    dsync       = fetch origin develop:develop
    report      = log --pretty=format:'[%h] %ad %aN %s' --date=short

[merge]
    conflictStyle = zdiff3

[user]
    name  = Richard Jonas
    email = richard.jonas.76@gmail.com
